# Python compiled
*.pyc

# PLY
hexagondisasm/reil/behavior_parser_HexagonBehaviorParser.dbg
hexagondisasm/reil/behavior_parser_HexagonBehaviorParser_parsetab.py


# Setup files
build/
dist/
hexagondisasm.egg-info/

# Instruction sources
inst_sources/*

# BARF
**/barf.log

# Pycharm
.idea/*
